.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.item {
    position: relative;
    overflow: hidden;
    &-text-title {
        font-size: 1.5rem;
        padding: 0 1rem;
        margin: 5px 0 0 0;
    }

    &-text-category {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
}