.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    
}

.item {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0rem 2rem rgba(0,0,0,0.5);
    
    &-text-title {
        font-size: 1.5rem;
        padding: 0 1rem;
        margin: 5px 0 0 0;
    }

    &-text-category {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
}