@import 'config';
@import 'utilities';
@import 'item_grid';

//Basic Page Styles
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background: #fff;
}

a {
    text-decoration: none;
    color: $dark-color;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dosis', sans-serif;
}

h2,
h3,
h4 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

//Main Nav
#main-nav {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 1rem;

    ul {
        display: flex;
    }

    li {
        padding: 1rem 1.5rem;
    }

    a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color 0.5;

        &:hover {
            border-color: $light-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}

//Header
#header {
    &-home {
        background: $bg-image no-repeat center right/cover;
        height: 100vh;
        color: #fff;

        .btn-dark {
            border: 1px solid #fff;
        }

        //Header Content
        .header-content {
            text-align: center;
            padding-top: 20%;

            h1 {
                font-size: 4rem;
                line-height: 1.2;
            }
        }

        #mobile-header,
        #mobile-subheader {
            display: none;
        }
    }

    &-inner {
        background: $bg-image no-repeat 80% 20%/cover;
        height: 5.5rem;
        border-bottom: 3px $main-color solid;
    }
}

//Home Sections
#home {

    //Home A
    &-a {
        background: #f4f4f4;

        .specials {
            margin-top: 3rem;
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(3, 1fr);

            .fas,
            .fab {
                color: $main-color;
                padding-bottom: 0.4rem;
            }

            div {
                &:last-child {
                    padding: 2rem;
                    grid-column: 2;

                    .btn-dark:hover {
                        border: 1px solid $dark-color;
                    }
                }
            }
        }
    }

    //Home B
    &-b {
        .education {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            div {
                &:first-child {
                    background: $main-color;
                    padding: 3rem 0;
                    color: #fff;

                    .bottom-line {
                        background: $dark-color;
                    }

                    .btn-dark:hover {
                        border: 1px solid #fff;
                        background-color: $dark-color;
                    }
                }

                &:last-child {
                    background: $dark-color;
                    padding: 3rem 0;
                    color: #fff;

                    ul {
                        text-align: left;
                        margin-left: 2rem;
                        margin-right: 4rem;
                    }

                    a {
                        color: $main-color;

                        &:hover {
                            color: $light-color;
                            transition: color 0.5s ease;
                        }
                    }

                    p {
                        &:last-child {
                            margin-top: 2rem;
                        }
                    }
                }

                .bottom-line {
                    background: $light-color;
                }
            }

            h2 {
                margin-bottom: 1rem;
            }

            li {
                line-height: 1.9;

                &:nth-last-child(2) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

//Contact Section
#contact {
    background: #ccc;


    .bottom-line {
        background: $dark-color;
    }

    .contact-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        //Contact Form
        .contact-form {
            .form-group {
                margin-top: 1rem;

                label {
                    display: block;
                }

                #name,
                #email {
                    padding: 0.25rem 0.25rem;
                }

                #name,
                #email,
                #message {
                    border: 1px solid $dark-color;
                    font-family: 'Open Sans', sans-serif;
                    line-height: 1.6;
                    font-size: 1rem;
                }

                #name:focus,
                #email:focus,
                #message:focus {
                    outline: 1px solid $main-color;
                }

                textarea {
                    width: 75%;
                    padding: 0.75rem;
                }

            }

            input[type=submit] {
                font-family: 'Open Sans', sans-serif;
                line-height: 1.6;
                font-size: 1rem;
            }

            .btn-dark {
                margin-top: 1rem;

                &:hover {
                    border: 1px solid $dark-color;
                }
            }
        }

        //Email & Icons
        .contact-info {
            text-align: left;
            margin-left: 3rem;
            margin-top: 2rem;
            line-height: 2.5;

            a {
                color: $dark-color;

                &:hover {
                    color: $main-color;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}


//About Section
#about {
    &-a {
        .about-info {
            display: grid;
            gap: 1.2rem;
        }

        .bio {
            border-left: 3px solid $main-color;
            padding: 0.8rem;
            background: #f4f4f4;

            p {
                text-align: left;
                margin-bottom: 1rem;

                a {
                    color: $main-color;

                    &:hover {
                        transition: color 0.5s ease;
                        color: $light-color;
                    }
                }
            }


            .btn-dark {
                &:hover {
                    border: 1px solid $dark-color;
                }

                margin-bottom: 2rem;
            }
        }
    }
}

//Work Section
#work {
    &-a {

        .lead {
            margin-bottom: 0.5rem;
        }

        .lead-sub {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 0rem;
        }


        a {
            color: $main-color;

            &:hover {
                color: $light-color;
                transition: all 0.5s ease;
            }
        }

        .btn-dark {
            color: #fff;
            margin-top: 3rem;
            margin-bottom: 2rem;

            &:hover {
                border: 1px solid $dark-color;
                color: #fff;
                transition: all 0.5s ease;
            }

        }

    }
}

//Message sent page
#thanks {
    a {
        color: $main-color;

        &:hover {
            color: $light-color;
            transition: color 0.5s ease;
        }
    }
}


//Footer
#main-footer {
    background: #333;
    color: #fff;
    height: 5rem;

    .footer-content {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        align-items: center;

        .social .fas,
        .social .fab {
            margin-right: 1rem;
            text-align: center;
            padding: 0.5rem;
            color: $main-color;

            &:hover {
                color: $light-color;
                transition: all 0.5s ease;
            }
        }
    }
}

//media queries
@import 'media';